body {
    margin: 0;
}

nav {
    margin:0.5em 0;
}


.container {
    width:80%;
    margin:0 auto;
}

main {
    display: grid;
    grid-template-columns: 3fr 7fr;
    gap:1rem;
    padding: 1rem 0;
}

aside {
    text-align: center;
    align-content: center;
}

article {
    justify-content: center;
    align-items: center;
    height: 400px;
    display: grid;
}
